<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 *ngIf="!sessionService.user" >Welcome to {{ title }}!</h1>
  <h1 *ngIf="sessionService.user" >Welcome {{ sessionService.user.username }}!</h1>

</div>
<ul>
  <li><a [routerLink]="['/']">HOME</a></li>
  <li *ngIf="!sessionService.user"><a [routerLink]="['/signup']">Signup</a></li>
  <li *ngIf="!sessionService.user"><a [routerLink]="['/login']">Login</a></li>
  <li *ngIf="sessionService.user"><a href="#" (click)="logout()">Logut</a></li>
</ul>


<router-outlet></router-outlet>
